@model List<WebApplication2.Models.ViewModels.Tventas>
@{

    Layout = null;

    int a = 1;
}
<div class="table-responsive-sm">
    <table class="table table-sm">
        <tr>
            <th>

            </th>

            <th>
                Moneda
            </th>
            <th>
                Valor
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <img id="img_@a" src="" />
                </th>

                <td>
                    @item.Moneda
                </td>
                <td>
                    $@string.Format("{0:#,0.00}", item.Valor)
                </td>


            </tr>
            a = a + 1;
        }

    </table>
</div>
<script>

    setInterval(function () { banderas(); }, 1000);
    function banderas()
    {
        document.getElementById("img_1").src = "../../Content/baderas/003-estados-unidos.png";
        document.getElementById("img_2").src = "../../Content/baderas/001-union-europea.png";
        document.getElementById("img_3").src = "../../Content/baderas/005-canada.png";
        document.getElementById("img_4").src = "../../Content/baderas/004-reino-unido.png";
        document.getElementById("img_5").src = "../../Content/baderas/006-suiza.png";
        document.getElementById("img_6").src = "../../Content/baderas/002-brasil.png";
        document.getElementById("img_7").src = "../../Content/baderas/007-australia.png";
    }
</script>