/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background: url("img/blanco.jpg");
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}


#logo1 {
    width: 100%;
    height: auto;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.mir {
    background-color: #343a40;
}

.menubtn {
    width: 80%;
}

.identy{
    color:white;
}

    .identy:hover {
        color: lightgray;
    }

.sinmostras{
    display : none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.invisible{

    display: none;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.margin1 
{
margin-bottom: 0;
}

.gradientebody {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.cardbody {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.cabecera {
    background: #34495E;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.bordes {
    animation-name: bordesk;
    animation-duration: 2s;
}

.margin1 {
    padding-left: 10rem;
}

.btnhovermonto {
    background: #a0b3b0;
    border-radius: 8px;
}

    .btnhovermonto:hover {
        background: #caece1;
    }


.backdek {
    background: #fdfbfb;
    border-radius: 10px;

}

    .backdek:hover {
        background: #ebedee;
    }

.carta {
    border-width: 5px;
    border-color: #6d7d8669;
}
    .carta:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

.f2 {
  margin-top: -11px;
}

