@model WebApplication2.Models.Tb_Taxas

@{
    ViewBag.Title = "Tasas por sucursal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> suc = (List<SelectListItem>)ViewBag.suc;
}




<div class="col-sm-11 mt-3">
    <div class="card shadow-lg rounded">
        <div class="card-header bg-dark text-white row">
            <div class="col-sm-8">
                <h5>Tasas de Compra</h5>
            </div>

            <div class="col-sm-4">
                @Html.DropDownList("Datos", suc, "selecciona una Sucursal", new { @class = "form-control form-control-sm ", id = "plazas" })
            </div>

        </div>
        <div class="card-body">

            <div class="card-group">
                <div class="card">

                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col"><small><span id="fecha"></span></small> </th>
                                <th scope="col">Moneda</th>
                                <th scope="col">TC</th>

                            </tr>
                        </thead>
                        <tbody id="Compra">
                        </tbody>
                    </table>
                </div>
                <div class="card">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col"><small><span id="fecha"></span></small> </th>
                                <th scope="col">Moneda</th>
                                <th scope="col">TC</th>

                            </tr>
                        </thead>
                        <tbody id="Venta">
                        </tbody>
                    </table>
                </div>
            </div>



        </div>


    </div>

</div>



<script>
    var plazas1 = document.getElementById("plazas");
    plazas1.addEventListener("change", compra);

    compra();

    var plazas2 = document.getElementById("plazas");
    plazas2.addEventListener("change", venta);

    venta();




    function compra() {
        let id = document.getElementById("plazas").value;

        const post1 = {
            idsucursal: id
        }

        fetch("/Tasas/comprastr",
            {

                method: 'POST',
                body: JSON.stringify(post1),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                }
            })
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (tjson) {
                var cuerpo = document.getElementById("Compra");

                cuerpo.innerHTML = "";

                let query = JSON.parse(tjson);

                var a = 1;

                for (let item of query) {
                    var f1 = new Date(item.Dia);
                    var f1 = f1.toLocaleDateString();

                    document.getElementById("fecha").innerHTML = f1;

                    cuerpo.innerHTML += `
                    <tr>
                        <th>  <img id="imga_${a}" src="" /></th>
                        <th><small>${item.Moneda} </small></th>
                        <th><small><input type="text" readonly = "true" class="form-control form-control-sm" id="mon${item.Int_IdMoneda}" value="${item.Valor}" name="tc_${a}" /> </small></th>
                    </tr>
                     `
                    a = a + 1;

                }


            })

    }

    function venta() {
        let id = document.getElementById("plazas").value;

        const post1 = {
            idsucursal: id
        }

        fetch("/Tasas/ventastr",
            {

                method: 'POST',
                body: JSON.stringify(post1),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                }
            })
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (tjson) {
                var cuerpo = document.getElementById("Venta");

                cuerpo.innerHTML = "";

                let query = JSON.parse(tjson);

                var a = 1;

                for (let item of query) {
                    var f1 = new Date(item.Dia);
                    var f1 = f1.toLocaleDateString();

                    document.getElementById("fecha").innerHTML = f1;

                    cuerpo.innerHTML += `
                    <tr>
                        <th>  <img id="imgb_${a}" src="" /></th>
                        <th><small>${item.Moneda} </small></th>
                        <th><small><input type="text" class="form-control form-control-sm" readonly = "true" id="mon${item.Int_IdMoneda}" value="${item.Valor}" name="tc_${a}" /> </small></th>
                    </tr>
                     `
                    a = a + 1;

                }


            })



    }


</script>

<script>

    setInterval(function () { banderas(); }, 1000);
    function banderas() {


        document.getElementById("imga_1").src = "../../Content/baderas/003-estados-unidos.png";
        document.getElementById("imga_2").src = "../../Content/baderas/001-union-europea.png";
        document.getElementById("imga_3").src = "../../Content/baderas/005-canada.png";
        document.getElementById("imga_4").src = "../../Content/baderas/004-reino-unido.png";
        document.getElementById("imga_5").src = "../../Content/baderas/006-suiza.png";
        document.getElementById("imga_6").src = "../../Content/baderas/002-brasil.png";
        document.getElementById("imga_7").src = "../../Content/baderas/007-australia.png";
                                    
        document.getElementById("imgb_1").src = "../../Content/baderas/003-estados-unidos.png";
        document.getElementById("imgb_2").src = "../../Content/baderas/001-union-europea.png";
        document.getElementById("imgb_3").src = "../../Content/baderas/005-canada.png";
        document.getElementById("imgb_4").src = "../../Content/baderas/004-reino-unido.png";
        document.getElementById("imgb_5").src = "../../Content/baderas/006-suiza.png";
        document.getElementById("imgb_6").src = "../../Content/baderas/002-brasil.png";
        document.getElementById("imgb_7").src = "../../Content/baderas/007-australia.png";

    }
</script>