
@{
    ViewBag.Title = "Arqueo";

}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="~/Arqueos/arqueocierre.aspx" allowfullscreen></iframe>
</div>


