
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="~/Arqueos/ArqueoInicial.aspx" allowfullscreen></iframe>
</div>

