@{

    Layout = null;

}
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <!-- bootstrap 4 -->
    <title> @ViewBag.Title Iniciar Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="~/Scripts/secion.js"></script>
    <!-- Ionic icons -->
    <script src="https://kit.fontawesome.com/30fa52b14d.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!--Hoja de estilos -->
    <link href="~/Content/home.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 " style="margin-top : 6%; margin-bottom : 15%;">

            <img id="logo1" src="~/Content/img/centro_cambio.png" />


            <div class="card cardcorfing1">

                <div class="card-body cardcorfing2  text-center">
                    <div class="cardcorfing3">
                        <h5 class="ht1">Iniciar Sesión</h5>
                    </div>
                    

                    <form action="/Home/Index" class="mt-4 mit" method="post">

                        <div class="form-group inpt1">
                            <div class="input-group border border-secondary mb-2">
                                <div class="input-group-prepend ">
                                    <div class="input-group-text"><i class="fas fa-user-shield"></i></div>
                                </div>
                                <input type="text" class=" form-control inpt1 btn btn-light" id="nombre" name="usuario" placeholder="Nombre de Usuario">
                            </div>
                        </div>

                        <div class="form-group inpt1">


                            <div class="input-group border border-secondary mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"> <i class="fas fa-key"></i></div>
                                </div>
                                <input type="password" class="inpt1 form-control btn btn-light" id="password" name="Pass" placeholder="Contraseña">
                            </div>
                        </div>

                        <div class="input-group inpt1 border border-secondary mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"> <i class="fas fa-business-time"></i></div>
                            </div>
                            <select class="form-control inpt1 btn-light" id="turnos" name="turno">
                                <option value="0"> seleccione el turno de entrada</option>
                                <option value="1">Turno 1</option>
                                <option value="2">Turno 2</option>
                                <option value="3">Turno 3</option>
                            </select>


                            <div style="display: none">
                                <input type="date" id="fecha" name="fecha" />
                            </div>
                        </div>

                        <div class="inp1 form-group text-center">

                            <div class="inp3">
                                <button type="button" onclick="ks()" class="inp3 btn btn-success text-center">
                                    Iniciar Sesion
                                </button>




                            </div>

                            <div class="btn1" style="display: none">
                                <button id="m2" type="submit" class="btn2 btn btn-success text-center">
                                    Iniciar Sesion
                                </button>
                            </div>



                        </div>


                    </form>

                    @{
                        if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <div class="alert alert-warning border border-warning text-center" role="alert">
                                @ViewBag.Message
                            </div>
                        }
                    }

                </div>
            </div>




        </div>
        <div class="col-md-4">


        </div>
    </div>
</div>



<script>
    function ks() {
        var nturno = document.getElementById("turnos").value;
        if (nturno == "0") {
            Swal.fire({
                icon: 'error',
                title: 'Tienes que seleccionar un Turno'
            })

        }
        else {
            document.getElementById("m2").click();
        }

    }


</script>





<script type="text/javascript">
    $(document).ready(function () {
        $("form").keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });
    });
</script>



<script>
    $(document).ready(function () {

        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("#fecha").val(today);
    });
</script>