@model WebApplication2.Models.Tb_SalidaSuc

@{
    ViewBag.Title = "datosvr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-10 mt-3 ">
    <div class="card shadow-lg rounded">
        <div class="card-header bg-dark text-white row">
            <div class="col-sm-4">
                <h5>Comprobates Tesoreia</h5>
            </div>

            <div class="col-sm-4">
                <label>Fecha de inicio</label>
                <input type="datetime-local" id="fecha1" class="form-control form-control-sm" />
            </div>

            <div class="col-sm-4">
                 <label>Fecha Final</label>
                <input type="datetime-local" id="fecha2" class="form-control form-control-sm" />
            </div>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><small>Monto</small></th>
                        <th scope="col"><small>Fecha</small></th>
                        <th scope="col"><small>Usuario</small></th>
                        <th><small></small></th>
                       
                    </tr>
                </thead>
                <tbody id="cuerpo">
                </tbody>
            </table>

        </div>
        <div class="card-footer">

        </div>
    </div>

</div>


<div class="modal fade" id="actualizarstatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancelar ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
         
                <div class="modal-body">

                    <div class="col-sm-12">
                        
                        <div style="display: none">
                            <input type="text" id="idregistro" class="form-control form-control-sm"  />
                            <input type="text" id="estatus" value="5" class="form-control form-control-sm" />
                        </div>

                        <div id="motivo" class="col-sm-12">
                            <label>Mensaje</label>
                            <input type="text" id="mtc" class="form-control form-control-sm" name="mtc" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" onclick="cancelaciones()" class="btn btn-primary">Cancelar</button>
                </div>
        </div>
    </div>
</div>

<div class="modal fade" id="postticket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambio de Estatus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("datosvr", null, new AjaxOptions
            {
                HttpMethod = "POST",
              



            }, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-sm-12">



                        <div style="display: none">

                            <label>Actualizar estados</label>
                            <input type="text" id="idgrupopost" class="form-control form-control-sm" name="grupo" />

                        </div>

                        <div class="form-group">
                            <label>Archivo de Ticket</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input form-control-sm" name="archivo" id="archivo">
                                    <label class="custom-file-label" for="archivo">Agrega un archivo</label>
                                </div>


                                <script>
                                    $("input[type=file]").change(function () {
                                        var fieldVal = $(this).val();
                                        if (fieldVal != undefined || fieldVal != "") {
                                            $(this).next(".custom-file-label").text(fieldVal);
                                        }
                                    });


                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary">Ticket Guardado</button>
                </div>

                <script>
                    function Complet() {

                        Swal.fire({
                            icon: 'success',
                            title: 'Datos Actualizados',
                        })

                        location.reload();
                    }

                </script>
            }
        </div>
    </div>
</div>

<script>

    var funselect = document.getElementById("fecha1");
    var andselect = document.getElementById("fecha2");

    funselect.addEventListener("change", agrupacion);
    andselect.addEventListener("change", agrupacion);

                                                                                                                                    
    agrupacion();

    function agrupacion() {

        let f1 = document.getElementById("fecha1").value;
        let f2 = document.getElementById("fecha2").value;

   

        const post = {
            fe1: f1,
            fe2: f2
        }

        console.log(post);
          urlget = "@Url.Content("~/SalidaSuc/agrupar")";
        fetch(urlget,
            {
                method: 'POST',
                body: JSON.stringify(post),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                         }
            })
            .then(function (result) {

                if (result.ok) {
                    return result.json();
                }
            })

            .then(function (tjson) {

                console.log(tjson);

                var cuerpo = document.getElementById("cuerpo");

                cuerpo.innerHTML = "";
                let valor = 0;

                let query = JSON.parse(tjson);
                let fecha = '';

                console.log(query);
                for (let item of query) {
                    fecha = new Date(item.fecha);
                    fecha = fecha.toLocaleDateString();

                    var a = new Intl.NumberFormat().format(item.total);
                  

                    cuerpo.innerHTML += `
                         <tr>
                            <td style="display: none"><input type="text" id="idgrupo${valor}" readonly class="form-control form-control-sm"  value="${item.Grupo}" /></td>
                            <td><small>$ ${a}</small></td>
                            <td><small>${fecha}</small></td>
                            <td><small>${item.Usuario}</small></td>
                            <td><button data-toggle="modal" data-target="#actualizarstatus" type="button" class="btn btn-sm" onclick="obtgrupocancelacion(${valor})"><img src="../../Content/iconos/eliminar.png" /> </button>
                               <button data-toggle="modal" data-placement="bottom" title="Ingresar Ticket"  data-toggle="modal" data-target="#postticket" onclick="obtgrupoticket(${valor})" type="button" class="btn btn-sm  pdf">
                                <img src="../../Content/iconos/pdf.png" /></button></td>
                        
                        </tr>
                        `
                    valor = valor + 1;
                }
            })
    }


    function obtgrupoticket(idregistro) {
        var id = document.getElementById("idgrupo" + idregistro).value;

        document.getElementById("idgrupopost").value = id;
    }

    function obtgrupocancelacion(idregistro)
    {
        var id = document.getElementById("idgrupo" + idregistro).value;
        document.getElementById("idregistro").value = id;

    }


    function cancelaciones() {
        var idregistro = document.getElementById("idregistro").value;
        var mensaje = document.getElementById("mtc").value;
        const post = {
            id: idregistro,
            mnsn: mensaje
        }


        fetch("/SalidaSuc/cancelaciontickets",
            {

                method: 'POST',
                body: JSON.stringify(post),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                }
            })

            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })

            .then(function (tjson) {
                console.log(tjson);

                if (tjson == 500) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Dotacion Cancelada',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    agrupacion();

                } else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Hubo un error',
                        text: 'Contacte con Sistemas para Obtener Mas Informacion',
                        showConfirmButton: false,
                        timer: 3500
                    })
                }

               


            })


    }

</script>




@*necesario para ajaxdocumentos*@
<script>
    window.addEventListener("submit", function (e) {
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                updateTarget.innerHTML = xhr.responseText;
                            }
                        }
                    }
                };
                xhr.send(new FormData(form));
            }
        }
    }, true);
</script>
