@model IEnumerable<WebApplication2.Models.Tb_Sucursal>

@{
    ViewBag.Title = "Dotacion Inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int a = 1;
    int valor = 10;

}

<div id="maincard" class="col-sm-12 pl-5 pt-5 row">
    <form action="/sucadmin/insert">

        <div id="margenes" class="col-sm-12 margin1 row">

            <div id="idcardsa" class="col-sm-6 pl-5">
                <div class="card carta shadow-lg">

                    <div class="card-body cardbody">
                        <table class="table table-sm">

                            <thead class="table-dark">
                                <tr>

                                    <th>
                                        Sucursal
                                    </th>
                                    <th>
                                        Monto
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.Lng_IdSucursal <= 9 && item.Bol_Activo != true)

                                    {
                                        <tr class="backdek">
                                            <td style="display: none"><input type="text" class="btnhovermonto form-control form-control-sm" value="@item.Lng_IdSucursal" name="id_@a" /> </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Txt_Sucursal)
                                            </td>
                                            <td>
                                                <input type="text" class="btnhovermonto form-control form-control-sm" value="0" name="monto_@a" />
                                            </td>

                                        </tr>


                                    }

                                    a = a + 1;
                                }
                            </tbody>


                        </table>
                    </div>

                </div>
            </div>

            <div id="idcardsb" class="col-sm-6 pl-5">
                <div class="card carta  shadow-lg">

                    <div class="card-body cardbody">
                        <table class="table table-sm">

                            <thead class="table-dark">
                                <tr>

                                    <th>
                                        Sucursal
                                    </th>
                                    <th>
                                        Monto
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {

                                    if (item.Lng_IdSucursal >= 10 && item.Bol_Activo != true)

                                    {
                                        <tr class="backdek">

                                            <td style="display: none"><input type="text" class="btnhovermonto form-control form-control-sm" value="@item.Lng_IdSucursal" name="id_@valor" /> </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Txt_Sucursal)
                                            </td>
                                            <td>
                                                <input type="text" class="btnhovermonto form-control form-control-sm" value="0" name="monto_@valor" />
                                            </td>


                                        </tr>

                                        valor = valor + 1;
                                    }


                                }

                            </tbody>


                        </table>
                    </div>

                    <div class="card-footer f1">
                        <div class="f2">
                            <button type="button" onclick="submit()" class="f3 btn-warning btn btn-sm">Guardar</button>

                        </div>


                        <div style="display: none">
                            <input type="submit" class="btn btn-secondary btn-sm" id="postdotacion" value="guardar" />
                        </div>
                    </div>

                </div>
            </div>



        </div>

    </form>



</div>



<script>
    function submit() {
        document.getElementById("postdotacion").click();



        Push.create("Buen dia " + nombre + "", {
            tag: 'foo',
            body: "Se a generado nuevas dotaciones Iniciales",
            icon: '../../Content/img/logo.png',
            requireInteraction: true,
            onClick: function () {
                window.focus();
                this.close();

                Push.close('foo');
            }

        });



    }
</script>


<script>
    const docu = document,
        n1 = navigator,
        ua1 = n1.userAgent;
    (function () {
        mobile();
    })();


    function mobile() {

        ismobile = {
            android: () => ua1.match(/Android/),
            iphone: () => ua1.match(/iPhone/),
            ipad: () => ua1.match(/IPad/),
            ipod: () => ua1.match(/Ipod/),
            wimdows: () => ua1.match(/windows phone/),
            any: function () {
                return this.android() || this.iphone() || this.ipad || this.ipod || this.wimdows();
            }

        }

        isdesktop = {

            linux: () => ua1.match(/Linux/),
            windows: () => ua1.match(/Windows NT/),
            any: function () {
                return this.linux() || this.windows();
            }

        }

        if (ismobile.android()) {

            document.getElementById("margenes").classList.remove("margin1");
            document.getElementById("maincard").classList.remove("pl-5");
            document.getElementById("maincard").classList.remove("pt-5");

            document.getElementById("idcardsa").classList.remove("pl-5");
            document.getElementById("idcardsb").classList.remove("pl-5");

            document.getElementById("maincard").style.marginLeft = "4%";


      
        }

        else if (ismobile.iphone()) {

            document.getElementById("margenes").classList.remove("margin1");
            document.getElementById("maincard").classList.remove("pl-5");
            document.getElementById("maincard").classList.remove("pt-5");

            document.getElementById("idcardsa").classList.remove("pl-5");
            document.getElementById("idcardsb").classList.remove("pl-5");

            document.getElementById("maincard").style.marginLeft = "4%";
       
        }

        else if (ismobile.ipad()) {

            document.getElementById("margenes").classList.remove("margin1");
            document.getElementById("maincard").classList.remove("pl-5");
            document.getElementById("maincard").classList.remove("pt-5");

            document.getElementById("idcardsa").classList.remove("pl-5");
            document.getElementById("idcardsb").classList.remove("pl-5");

            document.getElementById("maincard").style.marginLeft = "4%";

        }
        else if (ismobile.ipod()) {

            document.getElementById("margenes").classList.remove("margin1");
            document.getElementById("maincard").classList.remove("pl-5");
            document.getElementById("maincard").classList.remove("pt-5");

            document.getElementById("idcardsa").classList.remove("pl-5");
            document.getElementById("idcardsb").classList.remove("pl-5");

            document.getElementById("maincard").style.marginLeft = "4%";

        }
        else if (ismobile.wimdows()) {

           
            document.getElementById("margenes").classList.add("margin1");
            document.getElementById("maincard").classList.remove("pl-5");
            document.getElementById("maincard").classList.remove("pt-5");

            document.getElementById("maincard").classList.add("pl-5");
            document.getElementById("maincard").classList.add("pt-5");

            document.getElementById("idcardsa").classList.remove("pl-5");
            document.getElementById("idcardsb").classList.remove("pl-5");

            document.getElementById("idcardsa").classList.add("pl-5");
            document.getElementById("idcardsb").classList.add("pl-5");

        }
        else if (isdesktop.any()) {
            document.getElementById("margenes").classList.add("margin1");
            document.getElementById("maincard").classList.remove("pl-5");
            document.getElementById("maincard").classList.remove("pt-5");

            document.getElementById("maincard").classList.add("pl-5");
            document.getElementById("maincard").classList.add("pt-5");

            document.getElementById("idcardsa").classList.remove("pl-5");
            document.getElementById("idcardsb").classList.remove("pl-5");

            document.getElementById("idcardsa").classList.add("pl-5");
            document.getElementById("idcardsb").classList.add("pl-5");

        }



    }


</script>
