@model WebApplication2.Models.Tb_Dotaciones

@{
    ViewBag.Title = "Ponderados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-sm-11 shadow-lg mt-3 pl-5">
    <div class="card-group shadow-lg">
        <div class="col-sm-12">
            <span>Fecha</span>
            <input type="date" id="fecha1" value="2021-01-21" class="form-control form-control-sm" />
        </div>
        <div class="card shadow-lg rounded">

            <div class="card-body">
                <h5 class="card-title">Ponderados de Compra</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Moneda</th>
                            <th scope="col">Poderado</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody id="Compra">
                    </tbody>
                </table>

            </div>



        </div>

        <div class="card shadow-lg rounded">

            <div class="card-body">
                <h5 class="card-title">Ponderados de Venta</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Moneda</th>
                            <th scope="col">Poderado</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody id="Venta">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    (function () {
        compra();
        venta();
    })();

    setInterval(
        function ()
        {
            compra();
            venta();
        }, 8000);

   

          //obtener ponderado compra
    function compra()
    {
        let fecha = document.getElementById("fecha1").value;



        const post1 = {
            fecha: fecha
        }

        fetch("/Reportes/comprapon",
            {

                method: 'POST',
                body: JSON.stringify(post1),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                }
            })
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })

            .then(function (tjson)
            {
                let query = JSON.parse(tjson);

                console.log(query);

                var cuerpo = document.getElementById("Compra");

                cuerpo.innerHTML = "";
                for (let item of query)
                {
                    var f1 = new Date(item.fecha);
                    var f1 = f1.toLocaleDateString();
                    
                    var valor = new Intl.NumberFormat().format(item.Ponderado)


                    cuerpo.innerHTML += `
                 
             
                    <tr>
                        <th><small>${item.Moneda} </small></th>
                        <th><small>$${valor} </small></th>
                        <th><small>${f1} </small></th>
                    </tr>
                    `
                }
            })
    }
        //obtener ponderado Venta 
    function venta()
    {
        let fecha = document.getElementById("fecha1").value;



        const post1 = {
            fecha: fecha
        }

        fetch("/Reportes/ventapon",
            {

                method: 'POST',
                body: JSON.stringify(post1),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                }
            })
            .then(function (result) {

                if (result.ok) {
                    return result.json();
                }
            })

            .then(function (tjson) {

                let query = JSON.parse(tjson);
                console.log(query);

                var cuerpo = document.getElementById("Venta");

                cuerpo.innerHTML = "";

                for (let item of query) {

                    var f1 = new Date(item.fecha);
                    var f1 = f1.toLocaleDateString();

                    var valor = new Intl.NumberFormat().format(item.Ponderado)


                    cuerpo.innerHTML += `
                 
             
                    <tr>
                        <th><small>${item.Moneda} </small></th>
                        <th><small>$${valor} </small></th>
                        <th><small>${f1} </small></th>
                    </tr>
                    `
                }
             
            })
    }

</script>