
@{
    ViewBag.Title = "reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-sm-11 mt-3 pl-5">
    <div class="card shadow-lg rounded">


        <div class="card-header bg-dark text-white row">
            <div class="col-sm-8">
                <h5 id="Titulo" ></h5>

                <div style="display: none">
                    <input id="tipo" value="@ViewBag.tipo" />

                </div>
            </div>

            <div class="col-sm-4">
                <span>Fecha</span>
                <input type="date" id="fecha1" class="form-control form-control-sm" />
            </div>

        </div>
        <div class="card-body">
         

            <div id="compras" style="display: none">
                <table class="table table-sm" id="comprasexcel">
                    <thead>
                        <tr>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Tipo de Cambio</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Pesos</th>
                            <th scope="col">Moneda</th>
                   

                        </tr>
                    </thead>

                    <tbody id="cuerpo">
                    </tbody>
                </table>

                <div class="col-sm-12">
                      <button class="btn btn-sm btn-success"  onclick="tableToExcel('comprasexcel', 'Tabla de Compras')"> Exportar a excel</button>
                      <button class="btn btn-success btn-sm" type="button" onclick="msng()">mandar mensaje</button>
                </div>
            </div>

            <div id="Ventas" style="display: none">
                <table class="table table-sm" id="Tablaventas">
                    <thead>
                        <tr>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Tipo de Cambio</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Pesos</th>
                            <th scope="col">Moneda</th>
                        
                        </tr>
                    </thead>

                    <tbody id="ventas">
                    </tbody>
                </table>

                <div class="col-sm-12">
                    <button class="btn btn-sm btn-success" onclick="tableToExcel('Tablaventas', 'Tabla de Ventas')"> Exportar a excel</button>
                </div>
            </div>

            <div id="arqueocajero" style="display: none">
                <table class="table table-sm" id="ArqueoCajero">
                    <thead>
                        <tr>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Denominacion</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Cajero</th>
                        </tr>
                    </thead>

                    <tbody id="cajero">
                    </tbody>
                </table>

                <div class="col-sm-12">
                    <button class="btn btn-sm btn-success" onclick="tableToExcel('ArqueoCajero', 'Arqueo de los Cajeros')"> Exportar a excel</button>
                </div>
            </div>

            <div id="arqueotesoreria" style="display: none">
                <table class="table table-sm" id="tesoreriaarqueo">
                    <thead>
                        <tr>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Moneda</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Monto en Sucursal </th>
                            <th scope="col">Usuario</th>
                       

                        </tr>
                    </thead>

                    <tbody id="tarqueo">
                    </tbody>
                </table>

                <div class="col-sm-12">
                    <button class="btn btn-sm btn-success" onclick="tableToExcel('tesoreriaarqueo', 'Arqueo de Tesoreria')"> Exportar a excel</button>
                </div>                                                                                              
            </div>



        </div>
        <div class="card-footer">

        </div>




    </div>

</div>


<script>

    var funselect = document.getElementById("fecha1");


    funselect.addEventListener("change", auto);

    auto();

    function auto()
    {
        var id = document.getElementById("tipo").value;
        switch (id) {
            case "1":
                carga_compras();
                break;
            case "2":
                carga_ventas();
                break;
            case "3":
                carga_arqueocajeros();
                break;
            case "4":
                carga_arqueoTesoreria();
                break;

           
        }
    }


    function carga_compras()
    {
        document.getElementById("Titulo").innerText = "Reportes Compras";


        let fecha = document.getElementById("fecha1").value;

      

        const post1 = {
            fecha: fecha
        }

        fetch("/Reportes/compracc",
            {

                method: 'POST',
                body: JSON.stringify(post1),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                }
            })
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })

            .then(function (tjson) {


                var cuerpo = document.getElementById("cuerpo");
            
                cuerpo.innerHTML = "";

                let query = JSON.parse(tjson);
            
                for (let item of query) {

                    var f1 = new Date(item.fecha);
                    var f1 = f1.toLocaleDateString();

                    var tipocambio = item.TC;

                    var tc = new Intl.NumberFormat().format(tipocambio);

                        cuerpo.innerHTML += `
                    <tr>
                        <th><small>${item.sucursaL} </small></th>
                        <th><small>$${tc} </small></th>
                        <th><small>${item.Valor} </small></th>
                        <th><small>${item.PesosNew} </small></th>
                        <th><small>${item.txt_moneda} </small></th>
                    
                    </tr>
                      `
                }

            })

        document.getElementById("compras").style.display = "";
        document.getElementById("ventas").style.display = "none";
        document.getElementById("arqueocajero").style.display = "none";
        document.getElementById("arqueotesoreria").style.display = "none";


    }

    function carga_ventas()
    {
        document.getElementById("Titulo").innerText = "Reportes Ventas";

        let fecha = document.getElementById("fecha1").value;

        

        const post1 = {
            fecha: fecha
        }

        fetch("/Reportes/ventascc",
            {

                method: 'POST',
                body: JSON.stringify(post1),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                }
            })
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })

            .then(function (tjson) {


                var cuerpo = document.getElementById("ventas");

                cuerpo.innerHTML = "";

                let query = JSON.parse(tjson);
             
                for (let item of query) {

                    var f1 = new Date(item.fecha);
                    var f1 = f1.toLocaleDateString();

                    var valor = item.valor;
                    var pesos = item.pesos;

                    var tc = new Intl.NumberFormat().format(item.TC);

                    cuerpo.innerHTML += `
                 
             
                    <tr>
                        <th><small>${item.sucursaL} </small></th>
                        <th><small>$${tc} </small></th>
                        <th><small>${item.Valor} </small></th>
                        <th><small>${item.Pesos} </small></th>
                        <th><small>${item.txt_moneda} </small></th>
                   
                    </tr>
                      `

                }

            })

        document.getElementById("compras").style.display = "none";
        document.getElementById("Ventas").style.display = "";
        document.getElementById("arqueocajero").style.display = "none";
        document.getElementById("arqueotesoreria").style.display = "none";
    }

    function carga_arqueocajeros()
    {
        document.getElementById("Titulo").innerText = "Reportes Arqueo de Caja";


        let fecha = document.getElementById("fecha1").value;


        const post1 = {
            fecha: fecha
        }

        fetch("/Reportes/cajeros",
            {

                method: 'POST',
                body: JSON.stringify(post1),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                }
            })
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })

            .then(function (tjson) {


                var cuerpo = document.getElementById("cajero");

                cuerpo.innerHTML = "";

                let query = JSON.parse(tjson);
              
                for (let item of query) {

                    var f1 = new Date(item.fecha);
                    var f1 = f1.toLocaleDateString();

                    var den = item.Denominacion;
                    var d1 = new Intl.NumberFormat().format(den);

                    let valor = item.Valor;
                    let v1 = new Intl.NumberFormat().format(valor);
                    cuerpo.innerHTML += `
                 
             
                    <tr>
                        <th><small>${item.Sucursal} </small></th>
                        <th><small>$${d1} </small></th>
                        <th><small>${item.Cantidad} </small></th>
                        <th><small>$${v1} </small></th>
                        <th><small>${item.Txt_Nombre} </small></th>
                      
                    </tr>
                      `

                }

            })
        document.getElementById("compras").style.display = "none";
        document.getElementById("ventas").style.display = "none";
        document.getElementById("arqueocajero").style.display = "";
        document.getElementById("arqueotesoreria").style.display = "none";
    }

    function carga_arqueoTesoreria()
    {

        document.getElementById("Titulo").innerText = "Reportes Remesas Tesoreria";


        let fecha = document.getElementById("fecha1").value;

      

        const post1 = {
            fecha: fecha
        }

        fetch("/Reportes/tesoreria",
            {

                method: 'POST',
                body: JSON.stringify(post1),
                headers: {
                    'Accept': "application/json",
                    "Content-Type": "application/json"
                }
            })
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })

            .then(function (tjson) {


                var cuerpo = document.getElementById("tarqueo");

                cuerpo.innerHTML = "";

                let query = JSON.parse(tjson);
                console.log(query);
                for (let item of query) {

                    var f1 = new Date(item.Fecha);
                    var f1 = f1.toLocaleDateString();

                    let monto = item.Monto;
                    let m1 = new Intl.NumberFormat().format(monto);

                    let montosuc = item.Montosuc;
                    let ms1 = new Intl.NumberFormat().format(montosuc);

                    cuerpo.innerHTML += `
                 
             
                    <tr>
                        <th><small>${item.Sucursal} </small></th>
                        <th><small>${item.Moneda} </small></th>
                        <th><small>$${m1} </small></th>
                        <th><small>$${ms1} </small></th>
                        <th><small>${item.Usuario} </small></th>
                        <th><small>${f1} </small></th>
                      
                    </tr>
                      `

                }

            })

        document.getElementById("compras").style.display = "none";
        document.getElementById("ventas").style.display = "none";
        document.getElementById("arqueocajero").style.display = "none";
        document.getElementById("arqueotesoreria").style.display = "";
    }

    function msng()
    {
        var bodyhtml = document.getElementById("compras").value;


        fetch("/Reportes/mail") 
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })

            .then(function (tjson) {
                var cuerpo = document.getElementById("cuerpo");
                cuerpo.innerHTML = "";
                console.log(tjson);
                
            })
    }



</script>

<script>

  
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="https://www.w3.org/TR/html40/"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()


</script>
