
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>

    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="~/tazas/frmtazas.aspx" allowfullscreen></iframe>
    </div>

</body>
</html>
